future
emoji
requests
sqlalchemy
python-telegram-bot==21.7
psycopg2-binary
feedparser
pyowm==3.3.0
bs4
lxml
demjson
PyLyrics
wget
geopy
aiohttp>=3.8.1
gTTS
Pillow>=9.0.0
translations
zalgo_text
nltk
pynewtonmath
bs4
telegraph
psycopg2
tldextract
gsearch
wikipedia
pyowm
pylyrics2
spongemock
psutil
googletrans
tswift==0.7.0
speedtest-cli
